  <div class="row-fluid">
       
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title">
                	<h5>Bienvenidos a Conciertos UPShe</h5>                    
 				</div>
                
                <div class="widget-content">

				 <div class="row-fluid">
				       
					<div class="span12">
							Logo
				    </div>

				  </div> 	
				</div>
             </div>
          
         </div>

        <div class="span6">
            <div class="widget-box">
                <div class="widget-title">
                    <h5>Registrece</h5>                    
                </div>
                
                <div class="widget-content">

                 <div class="row-fluid">
                    
                    <div class="span12">

                            <%= render 'registration' %>
                    </div>


                  </div>    
                </div>
             </div>
          
         </div>

  </div>        
