  <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                  <h5>Editing group</h5>
                   <div class="buttons"> 
                   	<%= link_to 'Show', @group, :class => 'btn' %>
<%= link_to 'Back', groups_path, :class => 'btn' %>

        </div>
 				</div>
                
                <div class="widget-content">
<%= render 'form' %>

</div>
             </div>
          
         </div>

  </div>		
