  <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                  <h5>Editar Distrito</h5>
  					<div class="buttons"> 
  						<%= link_to 'Mostrar', @district, :class => 'btn' %>
						<%= link_to 'Atras', districts_path, :class => 'btn' %>
					</div>
 				</div>
				
				<div class="widget-content">
				<%= render 'form' %>
				</div>
             </div>
          
         </div>

  </div>		

